.slider-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.8);
  transition: transform 300ms ease;
  background: #000000;
}

.slider-card.active {
  transform: scale(1.5);
}

.slider-card-img {
  display: block;
  opacity: 0;
  transition: 300ms ease;
  /* display: none; */
}

.slider-card-img.active {
  opacity: 1;
  /* display: flex; */
}

.silder-card-img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 65%;
}

.silder-card-img-title > img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  margin: 10px 20px;
}

.slider-card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 400ms ease;
}

.slider-card-content.active {
  opacity: 1;
}

.video {
  width: 100%;
  height: 100%;
}

.slider-card-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 20px;
  width: fit-content;
}

.slider-card-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 20px;
  display: flex;
  display: none;
}
.slider-card-icon.active{
  display:flex;
}

.slider-card-icon > img {
  padding: 0px 3px;
}

.favorites {
  transition: transform 300ms ease;
}

.favorites:hover {
  transform: scale(1.35);
}

.mute {
  transition: transform 300ms ease;
}

.mute:hover {
  transform: scale(1.35);
}
