.logo{
  margin-left: 20px;
  width: 100px;
}
.logo>img {
  width: 100%;
  height: 100%;
}

.navbar{
  font-size: 0.9vw;
}

.mat-divider {
  border-right-color: rgba(255, 255, 255, 0.3);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* .nav-image {
  height: 500px;
  background-image: linear-gradient(
    to top,#1d1e21,transparent 50%),
   url("src\assets\image\background.jpg");
 background-size: contain;
 background-repeat: repeat-x;
} */

.navbar-brand {
  padding-left: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.bg-dark {
  --bs-bg-opacity: 0;
}

.nav-link{
  cursor: pointer;
}

.search {
  padding: 5px 0;
  width: 230px;
  height: 30px;
  position: relative;
  line-height: 22px;
}

.search-input {
  position: absolute;
  margin-right: 5rem;
  width: 0px;
  margin-left: 190px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  height: 35px;
  line-height: 18px;
  padding: 0 0px 0 2px;
  opacity: 0;
}

.search:hover input,
.search input:focus {
  width: 190px;
  margin-left: 0px;
  opacity: 1;
}

.search-img {

  height: 35px;
  position: absolute;
  right: 0;
}

img{
  cursor: pointer;
}
