<img src="{{ imgCompressed }}" alt="" />
<div class="card">
  <h4 class="card-header">Movie</h4>
  <div class="card-body">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label class="login">Movie name</mat-label>
        <input formControlName="movie_name" type="text" matInput />
        <mat-error
          *ngIf="movie_name?.touched && this.movie_name?.invalid"
          class="form-error"
        >
          <mat-error *ngIf="movie_name?.hasError('required')">
            Movie name <strong>required</strong>!
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label class="login">Image Size</mat-label>
        <input type="text" matInput (change)="setImageSize($event)" />
      </mat-form-field>
      <mat-label>Movie image</mat-label>
      <input type="file" accept="image/*" (change)="compressFile($event)" />
      <mat-label>Movie Title</mat-label>
      <input
        type="file"
        accept="image/*"
        (change)="readFileTitle($event)"
      />
      <mat-label>Movie Focus</mat-label>
      <input
        type="file"
        accept="image/*"
        (change)="readFileFocus($event)"
      />
      <!-- <mat-label>Movie trailer</mat-label>
      <input type="file" accept="video/*" (change)="createVideoChunk($event)" /> -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
