<div class="card-suggestion-container">
  <div class="card-suggestion-title animation" style="--i: 0">
    <h3>More</h3>
  </div>
  <div *ngFor="let movie of moviesSuggestion; let i = index">
    <div class="card-suggestion-mask animation" [style]="{ '--i': i + 1 }">
      <div class="card-suggestion-item">
        <img style="width: 100%" src="data:image/webp;base64,{{ movie.movie_image }}" alt="" />
        <div class="silder-card-img-title">
          <img src="data:image/webp;base64,{{ movie.movie_title }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
