<div class="card-suggestion-container">
  <div class="card-suggestion-title">
    <h3>Suggestion</h3>
  </div>
  <div class="card-suggestion-item " style="--i: 0;">
    <img src="../../../../assets/movie-image/Carousel_item3.webp" alt="" />
  </div>
  <div class="card-suggestion-item" style="--i: 1;">
    <img src="../../../../assets/movie-image/Carousel_item3.webp" alt="" />
  </div>
  <div class="card-suggestion-item" style="--i: 2;">
    <img src="../../../../assets/movie-image/Carousel_item3.webp" alt="" />
  </div>
</div>
