<div
  class="card-focus-container"
  (click)="handleQuitCardFocus(FOCUS, $event)"
  #FOCUS
>
  <div class="card-focus-content">
    <img src="data:image/webp;base64,{{ movie.movie_focus }}" alt="" />

    <div class="card-focus-title">
      <h1 class="title animation" style="--i: 0">
        {{ movie.movie_name }}
      </h1>
    </div>

    <div class="card-focus-right-overlay">
      <div class="card-focus-suggestion-content">
        <app-card-suggestion></app-card-suggestion>
      </div>
    </div>
    <div class="card-focus-bottom-overlay">
      <img
        class="image animation"
        style="--i: 1"
        src="data:image/webp;base64,{{ movie.movie_title }}"
        alt=""
      />
      <div class="card-focus-button-container animation" style="--i: 2">
        <div class="card-focus-button">
          <p>Watch movie</p>
        </div>
        <div class="card-focus-button dark">
          <p>Watch trailer</p>
        </div>
      </div>
    </div>
  </div>
</div>
