.caroussel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.item {
  height: 100%;
  width: 100%;
}

.item-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.item-content > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-content.active {
  filter: blur(2px);
}

.indicators-container {
  position: absolute;
  bottom: 1.5vw;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indicators-item {
  display: inline-block;
  padding: 0 0.1vw;
}

.card-info-container {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3vw 3vw;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.card-info-container > img {
  width: 20%;
}
