/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #1d1e21;
}
body::-webkit-scrollbar {
  display: none;
}
.focusCard {
  overflow-y: hidden;
}
